<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
    
      <li><a class="navbar-brand" href="/">WORLD CUP 2014</a></li>
      <li><a class="groups-link" href="/#groups">Groups</a></li>
      <li><a class="matches-link" href="/#matches">Matches</a></li>
      <li><a class="scorers-link" href="#">Top Scorers</a></li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/LOSDev?tab=repositories">My GitHub</a></li>
        
      </ul>
   
  </div>
</nav>