<ul class="nav nav-pills nav-justified">
  <li>
    
    <select class="form-control" id="team-select">
      <option disabled="disabled" selected="selected">Select Team</option>
      {{#each groups}}
        <optgroup label="Group {{ name }}">
          {{#each teams}}
            <option value="{{name}}">{{name}}</option>

          {{/each}}
        </optgroup>
        
      {{/each}}
    </select>
  </li>
  <li class="match-nav-item"><a href="#">Recent Results</a></li>
  <li class="match-nav-item"><a href="#">Round of 16</a></li>
  <li class="match-nav-item"><a href="#">Quarter Finals</a></li>
  <li class="match-nav-item"><a href="#">Semi Finals</a></li>
  <li class="match-nav-item"><a href="#">Finals</a></li>
</ul>
<br>