/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$table-bg: #5cb85c;
$table-bg-accent: #dff0d8;
$component-active-bg: #5cb85c;
$nav-link-hover-bg: #5cb85c;
$pagination-active-bg: #5cb85c;
$pagination-active-border: #5cb85c;
$pagination-color: #5cb85c;
$pagination-bg: #dff0d8;
$pagination-hover-color: #fff;
$pagination-hover-bg: #5cb85c;
$pagination-hover-border: #5cb85c;
$input-border-focus: #5cb85c;
$input-bg: #dff0d8;
@import "bootstrap";

body{
  background: #EEEEEE !important;
}

.nav-pills a{
  background: #dff0d8;
}

.jumbotron {
    
    background-image: url(../assets/fb.jpg);
    background-position: 25% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
    text-align: right;
}
.table td, th {
  font-size: 16px;
}

