// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.match-table table{
  background-color: #FFFFFF;
}
.match-table td span{
  font-size: 25px;
}
.match-table th span{
  font-size: 14px;
}