// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.match-view table{
  background-color: #FFFFFF;
}
.match-view td{
  font-size: 25px;
}
.match-view th span{
  font-size: 14px;
}

.match-details table td{
  font-size: 16px !important;
}